*, *:after, *:before {
  box-sizing: border-box;
}

@import "compass/css3";
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
  scroll-behavior: smooth;
}
body {
  max-width: 100%;
  overflow-x: hidden;

}
#home-fix {
  color: #adadad;
}
#stopScroll {
  overflow: none;
}

#container {
  padding: 0;
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 100%;
}
/* NAVBAR */
#navbar {
  overflow: hidden;
  color: black;
  padding: 10px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  height: 12%;
  top: 0;
  text-align: center;
  font-size: 19px;
  z-index: 100000;

}
#nav-wrap {
margin-top: 30px;
margin-left: 50px;
transition: 0.4s;
display: flex;
justify-content: space-between;
}
#navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size:19px;
  line-height: 25px;
  border-radius: 4px;
}
#logo {
  font-size: 19px;
  color: black;
  transition: 0.4s;
  display: inline;
  float: left;
  margin-left: -30%;
}

a,a:active, a:before, a:hover, a:visited {
  text-decoration: none;
  transition: color 0.3s ease;
}

#menuToggle
{
  display: block;
  position: relative;


  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
  #main-navigation {
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background: #242424;
    text-align: center;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
  }
  #menu {
    display: block;

    top: 50%;
    font-size: 40px;
    padding-left: 0;
    justify-content: center;
    text-align: center;
    margin-top: 50%;
  }
  #menu a {
    text-decoration: none;
    color: white;

  }
  #menu a li {
    list-style: none;
    margin-top: 60px;
    color: white;
  }
  #contact-nav {
    margin-top: 60px;
    color: white;
    cursor: pointer;
  }
  #projects-nav {
    margin-top: 60px;
    color: white;
    cursor: pointer;
  }
.ulist {
  display: none;
}
#nav-icon {
  width: 150px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.nav-whip {
  display: inline-block !important;
  width: 40px;

}
@media only screen and (min-width: 684px) {


  #menuToggle {
    display: none;
  }
#navbar {
  overflow: hidden;
  color: black;
  padding: 10px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  height: 12%;
  top: 0;
  text-align: center;
  font-size: 19px;
}
.ulist {
  width: 100%;
  height: 40%;
  text-align: center;
  display: inline;

}
.ulist li {
  margin-left: 10%;
  float: left;
}
#nav-wrap {
margin-left: 28%;
margin-top: 30px;
transition: 0.4s;
}
#navbar a {
  float: left;
  text-align: center;
  text-decoration: none;
  font-size:19px;
  line-height: 25px;
  border-radius: 4px;
}
#logo {
  font-size: 19px;
  color: black;
  transition: 0.4s;
  display: inline;
  float: left;
  margin-left: -30%;
}
.list {
  list-style-type: none;
  padding: 0;
  text-align: center;
  cursor: pointer;
}
li {
  margin: 0 0 0 20px;
  text-decoration: none;
}
a,a:active, a:before, a:hover, a:visited {
  text-decoration: none;
  transition: 0.4s;
}
.hyperlink {
  transition: color 1s;
  color: black;
}
@media only screen and (min-width: 684px) {
  #navbar {
    padding: 8px 10px !important;
  }
  #navbar a,li {
    float: none;
    display: block;
    text-align: left;
  }
 }
}
/* END OF NAVBAR */
/* HOME IMAGE */
.homeImg {
  top: 0;
  background-image: url('images/home3.jpeg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 !important;
  margin: 0 auto;
}
/* EMD OF HOME IMAGE */
.center {
  position: absolute;
  display: block;
  color: black;
  width: 100%;
  height: 25%;
  bottom: 140px;
  font-size-adjust: none;
  text-align: center;
  font-size: 25px;
}
.title {
  display: block;
  position: absolute;
  letter-spacing: 6px;
  font-size: 40px;
  top: 10%;
  left: 5%;
}

@media only screen and (min-width: 682px) {
  .center {
    position: absolute;
    display: block;
    color: black;
    width: 37%;
    height: 25%;
    margin-top: 18%;
    left: 50%;
    font-size-adjust: none;
    text-align: center;
    font-size: 200%;
  }
  .title {
    display: block;
    position: absolute;
    letter-spacing: 6px;
    font-size: 54px;
    top: 10%;
    left: 5%;
  }
  #more {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    top: 96%;
  }

}


h3 {
  font-size: 30px;
}

#scrolldown {
  position: relative;
  top: 89%;
}
#more {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  top: 83%;
}
#img-scrolldown {
  width: 60px;
  height: 60px;
  animation: float 6s ease-in-out infinite;
}
/* HOME 2 */

.container-fluid, .dark {
  float: left;
  clear: none;
  width: 100%;
}
.home2 {
  background-color: #191919;
  color: white;
}
.content-dark {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.listPanel {
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 140px;
}
.panel {
  float: left;
  font-size: 13.8px;
}
.subTitle {
  letter-spacing: 7px;
  font-size: 30px;
  padding-bottom: 60px;
  padding-top: 60px;

}
.subText {
  font-size: 18px;
  padding-bottom: 60px;
  padding-top: 20px;
}
h5 {
  font-size: 20px;
}
/* HOME 3 WHITE */
.container-white {
  clear: none;
  width: 100%;

}
.homee {
  background-color: #d9d9d9;
  display: block;
}
.home3-title {
  clear: both;
  font-size: 50px;
  color: #333333;
  text-align: center;
  margin-top: 2%;
  font-weight: 500;
  display: block;
}
#home3-text {
  font-family: 'Fira Sans', sans-serif;
}
.home3-subtitle {
  clear: both;
  font-size: 35px;
  color: #9e9e9e;
  text-align: center;
  margin-top: 1%;
  display: block;
}
#home3-text2 {
  font-family: 'Fira Sans', sans-serif;
}
  .skill {
    text-align: center;
    margin-top: 10%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }


.content-white {
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.skill-img {
  height: 150px;
  width: 180px;
}


/* ICOOOONS */
.icons-div {
  clear: both;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #191919;
  text-align: center;
}
.icons-title {
  font-size: 20px;
  color: white;
  margin-bottom: 40px;
  margin-top: 40px;
}
.social-whip {
  display: inline-block !important;

}
.icon {
  height: 45px;
  width: 45px;
  margin-right: 20px;
}
.icon-last {
  height: 45px;
  width: 45px;
}
.social-wrap {
  margin-bottom: 70px;
  margin-top: 70px;
}


/* PROJECTS START */
#theme {
  width: 100%;
  display: block;
  background-image: url("images/home3.jpeg");
  background-size: cover;
  clear: both;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
}
#theme-title {
  position: absolute;
  display: block;
  text-align: center;
  padding : 0;
  margin: 0;
  top: 10%;
}
h1 {
  margin-left: 5px;
}
#projects-div {
  clear: none;
  background-color: #191919;


}
#projects-wrap {
  margin: 0 auto;
  height: 1000px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.project {
  display: inline-block;
  width: 150px;
  height: 75px;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  }
  .project-title {
    clear:both;
    display: block;
    position: absolute;
    text-align: center;
    transform: translateY(80px);
    color: white;
    font-size: 30px;
    text-align: center;
  }
  #projects-wrap a {
    color: white;
    text-decoration: none;
  }
@media only screen and (min-width: 709px) {
.project {
  display: inline-block;
  width: 410px;
  height: 230px;
  background-color: white;
  margin: 70px 0 0 70px;
  }
  .project-title {
    clear:both;
    display: block;
    position: absolute;
    margin-left: 108.5px;
    margin-top: 240px;
    color: white;
    font-size: 30px;
  }
}
.project1 {
  background-image: url('../projects/giereczka/css/screen.jpg');
  background-size: cover;
}
.project2 {
  background-image: url('../projects/zadanka/zadanka.jpg');
  background-size: contain;
}
.project3 {
  background-image: url('../projects/zegar/css/screen.jpg');
  background-size: contain;
}

body {
  background-image: url('images/home3.jpeg');
}

.bg-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 0.6s ease;
}
#bg-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  padding: 20px;
  position: relative;
}
  .close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 38px;
    transform: rotate(45deg);
    cursor: pointer;
  }
  #bg-year, #bg-phone, #bg-mail {
    font-size: 23px;
    margin: 15px 0 15px 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
  }
.list a {
  text-decoration: none;
  color: black;
}
.formm {
  display: block;
  width: 80%;
  height: 50%;
  margin: 0 auto;
}
.form-2 {
  width: 100%;
  height: 60%;
}
#labels {
  position: absolute;
  bottom: 5%;
  left: 45%;
}


#nothingTitle {
  transform: translateY(100px);
}

.nothingA {
  text-decoration: none;
  color: black;
  transition: 1.5s;
}

@keyframes float {
  0% {
    transform: translateY(0px);

  }
  50% {

		transform: translatey(-15px);
	}
	100% {

		transform: translatey(0px);
	}
}
