* {
  box-sizing: border-box;
}
body {
  background-color: #191919;
  overflow-x: hidden;
}
#timer {
  position: absolute;
  width: 100px;
  height: 60px;
  left: 50%;
  top: 0;

  margin: 0 0 0 -50px;
  font-size: 25px;
  padding: 0;
  color: white;
  text-align: center;
}

#life {
  position: absolute;
  width: 90px;
  height: 30px;
  left: 50%;
  margin-left: -45px;
  bottom: 0;
  color: white;
  font-size: 25px;

}
.health {
  width: 30px;
  float: left;
}


/* GAME */
#game {
  position: absolute;
  width: 340px;
  height:560px;
  left: 50%;
  top: 50%;
  margin-left: -170px;
  margin-top: -280px;
  background: #242424;
  display: block;
  border: 1px white solid;
}
.squares {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px white solid;
  margin: 15px;

  cursor: pointer;
}
.good {
  border: 2px green solid;
}
.bad {
  border: 2px red solid;
}


#bg-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bg-color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
  width: 340px;
  height: 560px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  text-align: center;
  padding:0 20px 0 20px;
  margin-left: -17px;
  position: relative;
  color: white;
  font-size: 25px;
}
#start {
  width: 150px;
  height: 60px;
  margin-top: 100px;
  background-color: #232323;
}
h1 {

}
#modal-text {

}
